@import './utils/utils';

.v-application,
.v-application,
.theme--light.v-application {
	font-family: 'Baloo Da 2', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 16px;
	color: color(gray-darken3) !important;
	background-color: darken(#f8f9fa, 1);
	background-color: lighten(#d4dadc, 11);
	// background-color: white;
}

.v-application .display-4,
.v-application .display-3,
.v-application .display-2,
.v-application .display-1,
.v-application .headline,
.v-application .body-1,
.v-application .body-2,
.v-application .title {
	font-family: 'Baloo Da 2', 'Helvetica Neue', 'Arial', sans-serif !important;
}

// set min height for all pages
.v-content {
	min-height: $min-page-height;
}

// set link color
a,
.v-application a {
	color: color(blue-base) !important;
	text-decoration: none;
}

a:hover,
.v-application a:hover {
	text-decoration: underline;
}

hr.light-border {
	border: none;
	border-top: solid thin $border-color;
}

.no-scroll {
	overflow: hidden !important;
}

.border {
	border: solid thin $border-color !important;
}

.border-light {
	border: solid thin $border-color-light !important;
}

.hide-overflow {
	overflow: hidden !important;
}

.text-secondary {
	color: var(--v-secondary-base);
}

.border-radius {
	border-radius: 4px;
}

.bold {
	font-weight: $bold;
}

.no-underline {
	text-decoration: none !important;
}

// fixes
.v-text-field > .v-input__control > .v-input__slot:after {
	color: color(primary-base);
}

.v-input--switch .theme--dark.v-label {
	color: white;
}

// key value
.key-value {
	.key {
		margin-right: 0.35rem;
		color: $text-secondary;
	}

	.value {
		font-weight: $bold;
		color: $text-secondary;
	}

	.secondary-value {
		font-weight: $bold;
		margin-left: 0.35rem;
		color: var(--v-success-base);
	}
}

.default-loading {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
