$transition: cubic-bezier(0.78, 0.02, 0.33, 1);
$transition-in: cubic-bezier(0, 0.68, 0.3, 1);
$transition-out: cubic-bezier(0.96, 0.01, 1, 0.51);

// fade
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.75s ease;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

// page
.page-enter-active {
	transition: transform 0.35s $transition-in, opacity 0.35s ease;
}

.page-leave-active {
	transition: transform 0.35s $transition-out, opacity 0.35s ease;
}

.page-enter {
	transform: translateY(40px);
	opacity: 0;
}

.page-leave-to {
	transform: translateY(-40px);
	opacity: 0;
}

// chart-toolbar
.chart-toolbar-enter-active {
	transition: transform 0.45s $transition;
}

.chart-toolbar-leave-active {
	transition-delay: 0s !important;
	// transition: transform 0.45s $transition;
}

.chart-toolbar-enter,
.chart-toolbar-leave-to {
	transform: translateY(-70px);
}

// chart-toolbar-buttons
.chart-toolbar-buttons-enter-active {
	transition: transform 0.225s $transition-in, opacity 0.225s ease;
}

.chart-toolbar-buttons-leave-active {
	transition: transform 0.225s $transition-out, opacity 0.225s ease;
}

.chart-toolbar-buttons-enter {
	opacity: 0;
	transform: translateY(-50px);
}

.chart-toolbar-buttons-leave-to {
	opacity: 0;
	transform: translateY(50px);
}

// chart-aside
.chart-aside-enter-active,
.chart-aside-leave-active {
	transition: transform 0.35s $transition;
}

.chart-aside-enter,
.chart-aside-leave-to {
	transform: translateX(300px);
}

// delay
.delay-1 {
	transition-delay: 0.15s;
}

.delay-2 {
	transition-delay: 0.35s;
}

.delay-3 {
	transition-delay: 0.75s;
}

.delay-4 {
	transition-delay: 1s;
}

.delay-5 {
	transition-delay: 1.5s;
}
