$border-color: color(grey-lighten2);
$border-color-dark: color(grey-base);
$border-color-light: color(grey-lighten3);
$dark-bg-color: color(grey-lighten5);

$max-width: 1264px;
$max-width-lg: 1440px;
$min-page-height: 100vh;

$side-padding: 2.5rem;
