$border-color: var(--v-secondary-lighten2);
$border-color-dark: var(--v-secondary-base);
$border-color-light: var(--v-secondary-lighten5);
$dark-bg-color: var(--v-secondary-lighten5);

$max-width: 1264px;
$max-width-lg: 1440px;
$min-page-height: calc(100vh - 120px);

$side-padding: 2.5rem;
